{% extends 'templates/app.twig' %}

	{% block content %}

		Welcome Home! <br/>
		
		<p>RawPHP uses Bootstrap's flat-ui by default, which mean you can use bootstrap on it and you can use flat-ui too. <br/>
		You will find relevant flat-ui links below </p>
	{% endblock%}
