{% extends 'templates/app.twig' %}

	{% block content %}

		Welcome Home! <br/>
		
		<p>RawPHP uses <a href="https://bootswatch.com/flatly/">Bootstrap's flat-ui</a> by default, which mean you can use bootstrap on it and you can use flat-ui too. <br/>
		You will find relevant flat-ui links below </p>
		
		
		<div class="list-group col-md-5">
  <a href="#" class="list-group-item active">
    Setup Check List
  </a>
  <a href="#" class="list-group-item">Create a database and connect to it
  </a>
  <a href="#" class="list-group-item">Create a table</a>
  <a href="#" class="list-group-item">Create a model for it</a>
  <a href="#" class="list-group-item">Create a controller for it</a>
  <a href="#" class="list-group-item">Create a view(s) for it</a>
</div>
		
		<div class="list-group col-md-5">
  <a href="#" class="list-group-item active">
    Important
  </a>
  <a href="#" class="list-group-item">You can edit this page by editing the file at 'resources/views/home.twig'
  </a>
  <a href="#" class="list-group-item">Create a table</a>
</div>
		


	{% endblock%}
